<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IToDoService" />
                <binding name="BasicHttpBinding_IToDoService1" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ISearchToDoService">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10000/ToDoService/endpoint1"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IToDoService"
                contract="ServiceReference1.IToDoService" name="BasicHttpBinding_IToDoService" />
            <endpoint address="http://localhost:10000/ToDoService/endpoint1"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IToDoService1"
                contract="ServiceReference2.IToDoService" name="BasicHttpBinding_IToDoService1" />
            <endpoint address="http://localhost:10000/SearchService/endpoint3"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ISearchToDoService"
                contract="ServiceReference2.ISearchToDoService" name="WSDualHttpBinding_ISearchToDoService" />
        </client>
    </system.serviceModel>
</configuration>